.btn {

    background-color: #c4c9c1;
    height: 33px;
    border-radius: 24px;
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #261f18;
}
 .btn img {
    height: 20px;
    width: 20px;
    margin-left: 5px;
 }

