.main-wrapper {
    display: flex;
    justify-content: center;
}

.velkommen {
    margin: 40px 12%;
    font-size: 32px;
    font-weight: 700;
    line-height: 47.42px;
    color: #261F18;
  }

  .grid-container {
    display: flex; 
  }
  
 .grid-child{
    flex: 1;
    margin: 20px;
 }

 .kampange-wrapper {;
    margin: 40px 11%;
 }