.logo {
    display: inline-block;
    width: auto;
    height: auto;
  }
  
  .navbar {
    display: block;
    height: 77px;
    padding-left: 12.5%;
    background-color: #362b24;
    font-size: 14px;
    font-weight: 700;
    line-height: 20.75px;
    color: #fff;
    padding-bottom: 10px;    
  }
  
  .valg {
    display: inline;
    padding: 2%;
    font-weight: 700;
    font-size: 14px;
    line-height: 20.75px;
  }
  
  .valg span {
    margin-right: 27px;
  }
  
  .search {
    display: inline;
    border: 1px;
    border-style: solid;
    border-color: #fff;
    border-radius: 13px;
    width: 153px;
    height: 31px;
    padding: 5px 10px;
    gap: 64px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20.75px;
  
  }
  
  .search img {
    margin-left: 7%;
    width: 12px;
    height: 12px;   
  }
  

  .profile {
    display: inline-block; 
    height: 21px;
    margin-left: 5%;
    margin-top: auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 20.75px;
  }
  
  .user {
    display:inline;
    padding: 5px;
  }
  
  .land {
    display: inline;
    margin-left: 0px
  }

  .user img {
    display: inline-block;
    height: 19px;
    width: 19px;
  }

  .land img {
    display: inline-block;
    margin-bottom: 5px;
    height: 12px;
    width: 12px;
  }