
.produkt-data {
    display: flex;
}

.produkt-billede {
    margin-right: 20px;
    
}

.text-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 20px;
}

.produkt-info {
    display: flex;
    flex-direction: column;
}

.produkt-navn {
    font-size: 16px;
    font-weight: 500;
}

.produkt-tagline {
    font-size: 14px;
    font-weight: 400;
}

.antal-pris {
    display: flex;
    float: right;
}