.profile {
    display: inline-block; 
    height: 21px;
    width: 146px;
    margin-left: 7%;
    margin-top: auot;
    font-weight: 400;
    font-size: 14px;
    line-height: 20.75px;
  }
  
  .user {
    display:inline;
    padding: 5px;
  }
  
  .land {
    display: inline;
    margin-left: 5px
  }

  .user img {
    height: 19px;
    width: 19px;
  }

  .land img {
    display: inline-block;
    margin-bottom: 5px;
    height: 12px;
    width: 12px;
  }