
.card {

    display: inline-block;
    margin: 40px 60px;
    width: 180px;
    height: 168px;
    border-radius: 10px;
    padding: 20px;
    gap: 15px;
    background-color: #fff;
}
.card img {
    width: 32px;
    height: 32px;
}

.card p {
    font-weight: 400;
    font-size: 22px;
    line-height: 32.6px;
    color: #261f18;
}
